<ion-header>
  <ion-navbar color="primary">
    <ion-title start>
      G00376399
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSettingsIconClick()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="!dataLoaded">
      <ion-col col-12 text-center>
          <ion-icon class="icon icon--large" name="ios-alert-outline"></ion-icon>
          <p>No data loaded</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="dataLoaded">
      <ion-col col-6>This column will take 6 columns</ion-col>
    </ion-row>
    <hr>
    <ion-row>
      <ion-col col-12 text-center>
        <button ion-button block color="dark" [disabled]="!dataLoaded" outline>News</button>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
