<ion-header>
  <ion-navbar color="primary">
    <ion-title start>
      G00376399
    </ion-title>
    <ion-buttons end>
      <button ion-button icon-only (click)="onSettingsIconClick()">
        <ion-icon name="settings"></ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>

<ion-content padding>
  <ion-grid>
    <ion-row *ngIf="!dataLoaded">
      <ion-col col-md-6 offset-md-3 text-center>
          <ion-icon class="icon icon--large" name="ios-alert-outline"></ion-icon>
          <p>No data loaded</p>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="dataLoaded">
      <ion-col col-md-6 offset-md-3 text-center>
        {{fetchedWeatherData.name}}

      </ion-col>
    </ion-row>
    <ion-row *ngIf="fetchedNewsData!==0">
      <ion-col col-md-6 offset-md-3>
        <ion-list>
          <ion-item *ngFor="let item of articles">
            <ion-avatar item-start>
              <img src = {{item.urlToImage}}>
            </ion-avatar>
            <h2>{{item.title}}</h2>
            <p>{{item.description}}</p>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col col-md-6 offset-md-3 text-center>
        <button ion-button block color="dark" (click)="onNewsButtonClick()" [disabled]="!dataLoaded" outline>News</button>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
